/* Main Primary color */
.color-primary-0 {
  color: #aa7d39;
}
.color-primary-1 {
  color: #ffddaa;
}
.color-primary-2 {
  color: #d4ab6a;
}
.color-primary-3 {
  color: #805615;
}
.color-primary-4 {
  color: #553300;
}

/* Main Secondary color (1) */
.color-secondary-1-0 {
  color: #383276;
}
.color-secondary-1-1 {
  color: #837eb1;
}
.color-secondary-1-2 {
  color: #5a5494;
}
.color-secondary-1-3 {
  color: #1f1959;
}
.color-secondary-1-4 {
  color: #0d083b;
}

/* Main Secondary color (2) */
.color-secondary-2-0 {
  color: #25705a;
}
.color-secondary-2-1 {
  color: #70a897;
}
.color-secondary-2-2 {
  color: #468c77;
}
.color-secondary-2-3 {
  color: #0e543f;
}
.color-secondary-2-4 {
  color: #003827;
}
